:root {
    --clr-primary-darkCyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);
    --clr-neutral-veryDarkBlue: hsl(212, 21%, 14%);
    --clr-neutral-darkGrayishBlue: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'Fraunces', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}


/** Mobile...Works...**/

@media screen and (max-width: 426px) {
    body {
        background-color: var(--clr-primary-cream);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    main {
        background-color: var(--clr-neutral-white);
        width: 90vw;
        height: fit-content;
        border-radius: 10px;
    }
    #heroImage {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    #perfumeTag {
        letter-spacing: 3px;
    }
    h1 {
        font-family: var(--ff-accent);
        font-weight: 800;
        line-height: 1;
        font-size: 2em;
        padding: 0rem 1rem 0.5rem 1.5rem;
    }
    main p {
        font-family: var(--ff-primary);
        font-weight: 500;
        font-size: .75em;
        color: var(--clr-neutral-darkGrayishBlue);
        padding: 1rem 1.5rem;
        line-height: 1.75;
    }
    .price {
        color: var(--clr-primary-darkCyan);
        font-family: var(--ff-accent);
        font-weight: 700;
        font-size: 2em;
        display: flex;
        align-items: center;
        padding: 1.5rem 0rem 0rem 1.5rem;
    }
    #previousPrice {
        text-decoration: line-through;
        font-family: var(--ff-primary);
        font-weight: 500;
        font-size: .375em;
        color: var(--clr-neutral-darkGrayishBlue);
        padding: 0em 0em 0em 2em;
    }
    button {
        border: none;
        color: var(--clr-neutral-white);
        background-color: var(--clr-primary-darkCyan);
        font-family: var(--ff-primary);
        font-weight: 700;
        width: 85%;
        padding: 1rem;
        border-radius: 8px;
        margin: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button img {
        margin: 0rem 0.75rem 0rem 0rem;
    }
    button:hover {
        cursor: pointer;
        background-color: var(--clr-neutral-veryDarkBlue);
    }
}


/** Tablet...Works...**/

@media screen and (min-width: 426px) {
    main {
        background-color: red;
    }
}


/** Desktop...Works...**/

@media screen and (min-width: 1024px) {
    main {
        background-color: yellow;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}